*
{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

/**
 * 540px @dpr 1 can fit in 360px mobile display @dpr 1.5.
 */
$max-width: 540px;

.wrapper
{
    margin: 0 auto;
    max-width: $max-width;

    /**
     * Do NOT define it - to prevent horizontal scrolling on small devices
     * width: $max-width;
     */
    
    /**
     * To adjust the height of the H1 used to staty on top
     */
    padding-top: 60px;

    h1
    {
        top: -20px;
        z-index: 99999;
        position: fixed;
        overflow: hidden;
        width: $max-width;
        border-bottom: 4px solid hsl(54, 100%, 50%);
    }
}

img.icon
{
    min-width: 50px;
    max-width: 100px;
    
    min-height: 50px;
    max-height: 100px;
    
    background-color: #CCCCCC;
    border: 2px solid #666666;
    padding: 4px;
    margin: 0;
}

.description
{
    min-height: 70px;
}

p
{
    padding-bottom: 10px;
    text-align: justify;
}

.menus
{
    a
    {
        margin: 10px;
        width: 125px;
        overflow: hidden;
        display: inline-block;
    }
}

code
{
    display: block;
    margin-bottom: 15px;
    
    p
    {
        border-bottom: 1px dotted #CCCCCC;
    }
}