<!DOCTYPE html>
<html>
<head>
    <title>List of Projects</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="description" content="List of projects by Anytizer." />
    <meta name="author" content="Anytizer" />

    <link rel="stylesheet" href="css/w3.css" />
    <link rel="stylesheet" href="css/projects.css" />

    <script src="js/angular-1.6.6/angular.min.js"></script>
    <script src="js/angular-1.6.6/angular-sanitize.min.js"></script>
    <script src="js/projects.js"></script>
</head>
<body class="w3-indigo" ng-app="projectsApp" scroll-directive="">
<div class="wrapper">
    <div ng-controller="HeaderController">
        <h1 class="w3-padding w3-indigo">Anytizer Projects</h1>
        <div class="w3-yellow w3-container w3-padding" ng-show="!u">
            <p>
                Each project listed here required several hours of <strong>research, analysis, development, debugging, maintenance and documentation</strong> to bring it up.
            </p>
            <p ng-hide="true">I consider receiving your <strong>donations</strong> if it helped you in some ways, that keeps the development of these projects on-going.</p>
            <div><a class="w3-btn w3-deep-purple" ng-click="understood(true)">Too long, skip this.</a></div>
            <h4>About Project Status</h4>
            <p>For each projects, you will see a status marking with the following meanings.</p>
            <div class="w3-khaki w3-card w3-panel">
                <h5>Completed</h5>
                <div class="w3-padding">Marked as <strong>completed</strong>. It means you can view the source code, or the demo. It does not mean the project is finalized for production or turn-key. You may use the project's available source code for your own purposes. However, the project may be still in active development.</div>
            </div>
            <div class="w3-khaki w3-card w3-panel">
                <h5>Incomplete</h5>
                <div class="w3-padding">Marked as <strong>incomplete</strong>. Source code may be private or non-functional to use immediately. If the description or the intent of the project is attractive to you, please contact me for further details.</div>
            </div>
            <div><a class="w3-btn w3-deep-purple w3-right" ng-click="understood(true)">Ok, I understand.</a></div>
        </div>
        <div class="w3-yellow w3-container w3-padding" ng-show="u">
            <p>When done, <a href="#" ng-click="understood(false)">please logout</a>.</p>
        </div>
    </div>
    <div class="w3-white w3-padding" ng-controller="ProjectsController" ng-show="u">
        <div class="w3-card" ng-repeat="project in projects">
            <h2 class="w3-black w3-padding">{{project.name}}</h2>
            <div class="description w3-padding" ng-bind-html="project.description"></div>
            <div ng-show="project.tags.length>=1">
                <a ng-repeat="tag in project.tags" class="w3-btn w3-light-grey w3-margin">{{tag}}</a>
            </div>
            <div class="menus w3-light-grey">
                <a ng-show="show.donate && project.links.donate!=''" class="w3-btn w3-purple w3-hover-deep-purple" href="{{project.links.donate}}">Donate</a>
                <a ng-show="show.source && project.links.source!=''" class="w3-btn w3-purple w3-hover-deep-purple" href="{{project.links.source}}">Source Code</a>
                <a ng-show="show.demo && project.links.demo!=''" class="w3-btn w3-purple w3-hover-deep-purple" href="{{project.links.demo}}">Demo</a>
                <a ng-show="show.download && project.links.download!=''" class="w3-btn w3-purple w3-hover-deep-purple" href="{{project.links.download}}">Download</a>
                <a ng-show="show.buy && project.links.buy!=''" class="w3-btn w3-purple w3-hover-deep-purple" href="{{project.links.buy}}">Buy</a>
                <a ng-show="show.learn && project.links.learn!=''" class="w3-btn w3-purple w3-hover-deep-purple" href="{{project.links.learn}}">Learn</a>
            </div>
            <div class="w3-padding">
                <h4>Status: <strong ng-show="project.complete==true">completed</strong><strong ng-show="project.complete!=true">incomplete</strong></h4>
            </div>
        </div>
    </div>
    <div class="w3-padding" ng-controller="FooterController">
        <p>
            &copy; Anytizer.
            Mostly open source projects.
            See <a href="https://github.com/anytizer?tab=repositories">Complete List</a> of projects.
            <a href="./requirements">Requirements</a>
        </p>
    </div>
</div>
</body>
</html>
